mixin picture(src,width,height,alt,png)
	if png
		picture
			source(srcset=`${src}.webp`, type='image/webp')
			img( src=`${src}.png`,width=width, height=height, alt=alt, loading="lazy" )
	else
		picture
			source(srcset=`${src}.webp`, type='image/webp')
			img( src=`${src}.jpg`,width=width, height=height, alt=alt, loading="lazy" )

mixin image(src,width,height,alt)
	img( src=`${src}.jpg`,width=width, height=height, alt=alt, loading="lazy" )


mixin icon(name)
	svg(class="icon icon-" + name)&attributes(attributes)
		use(xlink:href="img/svg-sprite/svg-sprite.svg#" + name)


//- НЕ СПРАЙТ
mixin svg(name)
	svg(width="100%", height="100%")&attributes(attributes)
		use(xlink:href=`img/svg/${name}.svg#${name}`)

//- +svg('telegram')