extends layouts/default
include helpers/mixins
include ../blocks/components/breadcrumbs/breadcrumbs.pug
include ../blocks/components/nav/nav.pug

block variables
	- const title = "Главная"
	- const name = "main-page"

block content
	main.content
		.container
			h1.h1-test Адаптивный текст
			h2 Switch mode
			button.btn.btn--default.btn--normal.switch-mode(type="button") Switch
			h2 Quiz
			include ../blocks/components/quiz/quiz.pug
			span.quiz-output-values
				h3 вывод
			h2 Button
			.btn-container
				button.btn.btn--default.btn--normal.btn--radius(type="button") Normal
				button.btn.btn--default.btn--normal.btn--radius.btn--scale(type="button") scale
				button.btn.btn--default.btn--medium.btn--radius(type="button") Medium
				button.btn.btn--default.btn--large.btn--radius(type="button") Large
				a(href="#").btn.btn--default.btn--radius Link
				button.btn.btn--default.btn--normal.btn--with-icon.btn--radius(type="button")
					+icon('vk')(class="btn--icon-svg social-icon")
					span VKontakte
				button.btn.btn--default.btn--normal.btn--icon.btn--radius(type="button")
					+icon('vk')(class="btn--icon-svg social-icon")
					span.sr-only VKontakte
				button.btn.btn--default.btn--normal.btn--two-lines.btn--radius(type="button")
					span Subscribe to our newsletter
					span(aria-hidden="true") 240K+ subscribers
				button.btn.btn--normal.btn--primary.btn--radius(type="button") Normal
				button.btn.btn--normal.btn--secondary.btn--radius(type="button") Normal
				button.btn.btn--normal.btn--warning.btn--radius(type="button") Normal
				button.btn.btn--normal.btn--danger.btn--radius(type="button") Normal
				button.btn.btn--normal.btn--radius(type="button" disabled) Button
			h2 Modal
			button.btn.btn--default.btn--normal.btn--radius.modal-trigger(type="button" data-trigger='modal') modal
			button.btn.btn--default.btn--normal.btn--radius.modal-trigger(type="button" data-trigger='success') modal success
			button.btn.btn--default.btn--normal.btn--radius.modal-trigger(type="button" data-trigger='error') modal error
			h2 Form
			include ../blocks/components/form/form.pug
			h2 Select
			include ../blocks/components/select/select.pug
			h2 Collapse
			include ../blocks/components/collapse/collapse.pug
			h2 Accordion
			include ../blocks/components/accordion/accordion.pug
			h2 Из списка в спойлер <= 900px
			.block-1.accordion
				.accordion__item
					.block-1__title.accordion__title Heading 1
						+icon('arrow')(class="accordion__icon")
					ul.block-1__list
						li.block-1__item text
						li.block-1__item text
						li.block-1__item text
				.accordion__item
					.block-1__title.accordion__title Heading 2
						+icon('arrow')(class="accordion__icon")
					ul.block-1__list
						li.block-1__item text
						li.block-1__item text
						li.block-1__item text
			h2 Checkbox
			include ../blocks/components/checkbox/checkbox.pug
			h2 Image
			.grid3
				div
					+image('img/3','300','187','Горы')
				div
					+image('img/3','300','187','Горы')
				div
					+image('img/3','300','187','Горы')
			h2 Image background
			.qqq(style="width: 24rem;")
				.bg-img(data-bg=`img/5.jpg` data-bg-replace-webp=`img/5.webp`)
			h2 Css grig
			.grid
				each _, idx in Array(11)
					.grid__item(class=`grid__item_${idx+1}`)= idx + 1
			h2 Css grid columns
			.columns
				each _, idx in Array(4)
					.columns__item= idx + 1
			h2 Card + image picture
			.card
				.card__img
					+picture('img/3','270','168.5','Горы')
				.card__content
					h3
						a(class="card__link" href="#") Title
						p Subtitle
				span.card__tag My tag
			h2 Card + image picture
			.card-2
				+picture('img/3','270','168.5','горы')
				.card-2__content
					h3 Title
					p Description
					p Action
			h2 Hero Section
			.hero
				.hero__content
					h3.hero__title Title
					p.hero__description Description
					a(href="#").hero__link Link
				+image('img/2','','','горы')
			h2 Slider
			include ../blocks/components/slider/slider.pug
			h2 Table
			include ../blocks/components/table/table.pug
			h2 Breadcrumbs
			+breadcrumbs(['Main page', 'News'], 'News detail')
			//- h2 Menu
			//- include ../blocks/components/hamburger/hamburger.pug
			//- h2 Nav
			//- +nav(['Main page', 'News', 'News detail', 'page', 'page2', 'page3'])
			h2 Video youtube
			.ddd(style="width: 50%;")
				include ../blocks/components/video/video.pug
			h2 SVG icon
			+icon('telegram')
			+icon('vk')
			+icon('facebook')
			+icon('instagram')
			h2 Адаптивный блок
			.adaptiveDiv
			h2 Lazy load Maps
			#map(style="width: 400px; height: 400px;"
			data-apikey="ваш API-ключ",
			data-address="г. Москва, Преображенская площадь, 8",
			data-coordinates="55.755241, 37.617779")
			h2 css isolation
			.isolation
				.isolation-container isolation text <span class='isolation-inner'>isolation-inner</span>


block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")